*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* border: 1px solid black; */
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #E40046;
}

header .logo{
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .inputbar{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

header .inputbar div input{
    border: 1px solid black;
    width: 600px;
    height: 40px;
    padding: 0 0 0 20px;
}

header .inputbar div button{
    border: 1px solid black;
    width: 150px;
    height: 40px;
    background-color: #333333;
    color: white;
}

header .inputbar div button i{
    margin: 0 5px 0 0;
}

header .icon{
    /* border: 1px solid black; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .icon p{
    color: white;
    cursor: pointer;
    margin: 0 0 0 50px;
}

header .icon p i{
    margin: 0 0 0 5px;
}