*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counterDiv{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counterDiv .display{
    /* border: 1px solid black; */
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.counterDiv div button{
    border: 1px solid black;
    width: 100px;
    height: 40px;
    margin: 0 0 0 30px;
    cursor: pointer;
}